<form method="post" action="/addItem" enctype="multipart/form-data">
    <div class="formRow">Nom: <input type="text" name="nom" /></div>
    <div class="formRow">Any: <input type="text" name="any" /></div>
    <div class="formRow">Descripció: <textarea type="text" name="descripcio"></textarea></div>
    <div class="formRow">Imatge:<input type="file" name="files"></div>
    <div class="formRow"><input type="submit" value="Afegir"></div>
</form>