<form method="post" action="/ActionAdd" enctype="multipart/form-data">
    <div class="formRow">Nom: <input type="text" name="nom" /></div>
    <div class="formRow">Preu: <input type="text" name="preu" /></div>
    <div class="formRow">Descripció: <textarea name="descripcio"></textarea></div>
    <div class="formRow">Imatge: <input type="file" name="files"></div>
    <div class="formRow"><input type="submit" value="Afegir"></div>
</form>