<!DOCTYPE html>
<html lang="ca">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/menu.ejs') %>
    </header>
    <main>
        <!-- Aquí pots afegir el formulari per afegir productes -->
    </main>
</body>
</html>