<!DOCTYPE html>
<html lang="ca">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/menu.ejs') %>
    </header>

    <!-- Mostrar la información del producto a borrar -->
    <div class="formu">
        <%- include('../partials/deleteForm.ejs', { infoProduct: infoProduct }) %>
    </div>


       
</body>

</html>
