/* styles.css */

/* Estilos para el contenedor de fotos */
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para cada foto */
.photo {
  flex: 0 0 calc(50% - 10px); /* Para que haya dos columnas con un espacio de 10px entre ellas */
  margin-bottom: 20px;
  text-align: center;
}

.photo img {
  width: 201px; /* Todas las imágenes tendrán el mismo ancho */
  max-height: 251px; /* Ajusta la altura máxima según tus preferencias */
}

/* Estilos para los botones */
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}



/* Estilo para el contenedor del formulario */
.formu {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno para separar el contenido del borde */
  border: 1px solid #ccc; /* Borde alrededor del formulario */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el encabezado del formulario */
.formHeader {
  display: flex; /* Mostrar elementos en línea */
  justify-content: space-between; /* Espaciado entre elementos */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 15px; /* Espaciado entre encabezado y formulario */
}

/* Estilo para el botón "Editar" */
.editButton {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 15px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 3px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
}

/* Estilo para cada fila del formulario */
.formRow {
  margin-bottom: 15px; /* Espaciado entre filas */
}

/* Estilo para las etiquetas de los campos */
.formRow label {
  display: inline-block; /* Hacer que las etiquetas sean elementos en línea */
  width: 100px; /* Ancho fijo para etiquetas */
  font-weight: bold; /* Negrita para etiquetas */
}

/* Estilo para los campos de entrada de texto y textarea */
.formRow input[type="text"],
.formRow textarea {
  width: 100%; /* Ancho completo para campos de entrada de texto y textarea */
  padding: 5px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde alrededor de los campos */
  border-radius: 3px; /* Bordes redondeados */
}

/* Estilo para el campo de archivo */
.formRow input[type="file"] {
  width: 100%; /* Ancho completo para el campo de archivo */
  padding: 5px; /* Espaciado interno */
}

/* Estilo para el botón de envío */
.formRow input[type="submit"] {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 3px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón sobre el botón */
}

/* Estilo para la miniatura de la imagen */
.miniatura img {
  max-width: 25%; /* Ajustar la imagen al ancho de su contenedor */
  height: auto; /* Mantener la proporción de aspecto */
  margin-top: 10px; /* Espaciado superior de la miniatura */
}
